# Laravel Backend
backend/.env
backend/.env.backup
backend/.env.production
backend/vendor/
backend/node_modules/
backend/storage/*.key
backend/storage/pail
backend/public/uploads/
backend/public/fotos
backend/public/fotos/
backend/public/storage
backend/public/storage/
backend/storage/app/public/uploads/
backend/storage/app/public/evidencias/

# General
*.log
.DS_Store
Thumbs.db
